<table>
  <tr><th>Name</th><th>Attended?</th></tr>
  <% @event.attendees.each do |attendee| %>
    <tr>
      <td><%= attendee.ticket_name %></td>
      <td><input type="submit" value="Attended"></td>
    </tr>
  <% end %>
</table>
<input type="submit" value="done">
